.logo {
        height: 75px;
        width: 75px;
        background-color: lightgray;
        border-radius:50%;
        background-image: url(https://tse3.mm.bing.net/th/id/OIP.59bYrVq6C_lZJ5VLwAshKwHaHa?pid=Api&P=0&h=220);
        background-size: cover;
}

.main-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
}
